TP8 - 1.blueprint.json
{
    "name": "TP8 - 1",
    "flow": [
        {
            "id": 2,
            "module": "google-email:triggerWatchNewEmails",
            "version": 4,
            "parameters": {
                "from": "",
                "size": {
                    "unit": "M",
                    "amount": null,
                    "criteria": "larger"
                },
                "limit": 10,
                "folder": "INBOX",
                "format": "full",
                "subject": "",
                "criteria": "is:unread",
                "markSeen": false,
                "filterType": "simpleSearch",
                "__IMTCONN__": 9154500,
                "excludeWords": "",
                "includeWords": "",
                "hasAttachment": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "size": {
                            "nested": {
                                "unit": {
                                    "label": "MB (megabytes)"
                                },
                                "criteria": {
                                    "label": "Greater than"
                                }
                            }
                        },
                        "folder": {
                            "label": "Inbox"
                        },
                        "format": {
                            "label": "Full content"
                        },
                        "criteria": {
                            "label": "Only unread messages"
                        },
                        "filterType": {
                            "label": "Simple filter"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "My Gmail connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "filterType",
                        "type": "select",
                        "label": "Filter type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simpleSearch",
                                "gmailSearch"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Content format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "full",
                                "raw",
                                "metadata",
                                "minimal"
                            ]
                        }
                    },
                    {
                        "name": "folder",
                        "type": "select",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "labelIds",
                        "type": "select",
                        "label": "Label"
                    },
                    {
                        "name": "criteria",
                        "type": "select",
                        "label": "Criteria",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "is:read",
                                "is:unread"
                            ]
                        }
                    },
                    {
                        "name": "markSeen",
                        "type": "boolean",
                        "label": "Mark email message(s) as read when fetched"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true,
                        "validate": {
                            "max": 500
                        }
                    },
                    {
                        "name": "from",
                        "type": "email",
                        "label": "Sender email address"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "includeWords",
                        "type": "text",
                        "label": "Has the words"
                    },
                    {
                        "name": "excludeWords",
                        "type": "text",
                        "label": "Doesn't have"
                    },
                    {
                        "name": "size",
                        "spec": [
                            {
                                "name": "criteria",
                                "type": "select",
                                "label": "Criteria",
                                "validate": {
                                    "enum": [
                                        "larger",
                                        "smaller"
                                    ]
                                }
                            },
                            {
                                "name": "amount",
                                "type": "integer",
                                "label": "Size",
                                "validate": {
                                    "min": 0
                                }
                            },
                            {
                                "name": "unit",
                                "type": "select",
                                "label": "Size unit",
                                "validate": {
                                    "enum": [
                                        "M",
                                        "K",
                                        "bytes"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Email size"
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Only emails with attachments/media",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Message ID"
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "internalDate",
                        "type": "date",
                        "label": "Date"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject",
                        "condition": true
                    },
                    {
                        "name": "fromName",
                        "type": "text",
                        "label": "From (name)",
                        "condition": true
                    },
                    {
                        "name": "fromEmail",
                        "type": "text",
                        "label": "From (email)",
                        "condition": true
                    },
                    {
                        "name": "to",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "To",
                        "condition": true
                    },
                    {
                        "name": "cc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "CC",
                        "condition": true
                    },
                    {
                        "name": "bcc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "BCC",
                        "condition": true
                    },
                    {
                        "name": "snippet",
                        "type": "text",
                        "label": "Snippet"
                    },
                    {
                        "name": "fullTextBody",
                        "type": "text",
                        "label": "Full text body",
                        "condition": true
                    },
                    {
                        "name": "htmlBody",
                        "type": "text",
                        "label": "HTML body",
                        "condition": true
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Has attachment",
                        "condition": true
                    },
                    {
                        "name": "hasMedia",
                        "type": "boolean",
                        "label": "Has media",
                        "condition": true
                    },
                    {
                        "name": "sysFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "System folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "System folder name"
                            }
                        ],
                        "type": "array",
                        "label": "System folders"
                    },
                    {
                        "name": "categoryFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Category folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Category folder name"
                            }
                        ],
                        "type": "array",
                        "label": "Category folders"
                    },
                    {
                        "name": "userLabelFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "User label folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "User label folder name"
                            }
                        ],
                        "type": "array",
                        "label": "User label folders"
                    },
                    {
                        "name": "labelIds",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Message folder IDs"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "Delivered-To",
                                "type": "text",
                                "label": "Delivered-To"
                            },
                            {
                                "name": "Received",
                                "type": "text",
                                "label": "Received"
                            },
                            {
                                "name": "Date",
                                "type": "text",
                                "label": "Date (header)"
                            },
                            {
                                "name": "X-Original-Sender",
                                "type": "text"
                            },
                            {
                                "name": "Reply-To",
                                "type": "text"
                            },
                            {
                                "name": "Subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "From",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "To",
                                "type": "text",
                                "label": "To"
                            },
                            {
                                "name": "Message-ID",
                                "type": "text",
                                "label": "Message-ID"
                            },
                            {
                                "name": "In-Reply-To",
                                "type": "text",
                                "label": "In-Reply-To"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers",
                        "condition": true
                    },
                    {
                        "name": "sizeEstimate",
                        "type": "number",
                        "label": "Size estimate"
                    },
                    {
                        "name": "historyId",
                        "type": "text",
                        "label": "History ID"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicIfElse",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "branches": [
                {
                    "merge": false,
                    "label": "Filtro Anti-Bucle",
                    "type": "condition",
                    "flow": [
                        {
                            "id": 6,
                            "module": "groq:chatCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 9154534
                            },
                            "mapper": {
                                "model": "llama-3.1-8b-instant",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "Sos un experto en marketing digital. Debés analizar el correo entrante del cliente, identificar cuál de tus servicios le interesa, evaluar la urgencia de la consulta, y redactar un post/propuesta comercial inicial en base a su consulta, con un tono profesional, conciso y orientado a resultados.\n\nREGLAS DE CLASIFICACIÓN:\n\nEn el campo 'interes' debes colocar estrictamente una de estas opciones: Desarrollo Web, Branding o Consultoría (coloca Consultoría por defecto).\n\nEn el campo 'urgencia' debes evaluar el contexto del correo y colocar estrictamente: Alto, Moderado o Bajo.\n\nTu respuesta debe ser únicamente el objeto JSON válido, sin texto antes ni después, y sin usar bloques de código markdown (no uses ```json).\n\nESTRUCTURA OBLIGATORIA DEL JSON:\n{\n\"email\": \"{{2.fromEmail}}\",\n\"interes\": \"aquí la opción elegida según las reglas\",\n\"propuesta\": \"aquí el texto completo del borrador de la propuesta redactada\",\n\"urgencia\": \"aquí el nivel de urgencia analizado\"\n}\n\nCORREO A ANALIZAR: {{2.fullTextBody}}\n"
                                    }
                                ],
                                "max_tokens": "201",
                                "response_format": "json_object"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -150
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "llama-3.1-8b-instant"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "System"
                                                    }
                                                }
                                            ]
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "JSON Format"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "groq"
                                            },
                                            "label": "My Groq connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:groq",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "System",
                                                        "value": "system"
                                                    },
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Assistant",
                                                        "value": "assistant"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max tokens returned"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature"
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty"
                                    },
                                    {
                                        "name": "seed",
                                        "type": "number",
                                        "label": "Seed"
                                    }
                                ],
                                "advanced": true
                            },
                            "onerror": [
                                {
                                    "id": 34,
                                    "module": "airtable:ActionCreateRecord",
                                    "version": 3,
                                    "parameters": {
                                        "__IMTCONN__": 9154544
                                    },
                                    "mapper": {
                                        "base": "appH1hlHZM0vOyda1",
                                        "typecast": false,
                                        "useColumnId": false,
                                        "table": "tblyaT9fqHTKWwttJ",
                                        "record": {
                                            "fldsIZ7AUS3atEP5P": "{{now}}",
                                            "fldYYFtBnbgR44rJs": "Groq",
                                            "fldCGXL0eF9oobcgk": "{{6.error.message}}"
                                        }
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 600,
                                            "y": -454,
                                            "name": "Error"
                                        },
                                        "restore": {
                                            "parameters": {
                                                "__IMTCONN__": {
                                                    "label": "My Airtable OAuth connection (User ID: usrBs07AitWMvF0D8)",
                                                    "data": {
                                                        "scoped": "true",
                                                        "connection": "airtable3"
                                                    }
                                                }
                                            },
                                            "expect": {
                                                "base": {
                                                    "label": "TP 8 CoderHouse"
                                                },
                                                "typecast": {
                                                    "mode": "chose"
                                                },
                                                "useColumnId": {
                                                    "mode": "chose"
                                                },
                                                "table": {
                                                    "nested": [
                                                        {
                                                            "name": "record",
                                                            "spec": [
                                                                {
                                                                    "name": "fldsIZ7AUS3atEP5P",
                                                                    "label": "Fecha",
                                                                    "type": "date",
                                                                    "time": true
                                                                },
                                                                {
                                                                    "name": "fldYYFtBnbgR44rJs",
                                                                    "label": "Módulo",
                                                                    "type": "text"
                                                                },
                                                                {
                                                                    "name": "fldCGXL0eF9oobcgk",
                                                                    "label": "Detalle",
                                                                    "type": "text",
                                                                    "multiline": true
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Record"
                                                        }
                                                    ],
                                                    "label": "Errores"
                                                }
                                            }
                                        },
                                        "parameters": [
                                            {
                                                "name": "__IMTCONN__",
                                                "type": "account:airtable3,airtable2",
                                                "label": "Connection",
                                                "required": true
                                            }
                                        ],
                                        "expect": [
                                            {
                                                "name": "base",
                                                "type": "select",
                                                "label": "Base",
                                                "required": true
                                            },
                                            {
                                                "name": "typecast",
                                                "type": "boolean",
                                                "label": "Smart links",
                                                "required": true
                                            },
                                            {
                                                "name": "useColumnId",
                                                "type": "boolean",
                                                "label": "Use Column ID",
                                                "required": true
                                            },
                                            {
                                                "name": "table",
                                                "type": "select",
                                                "label": "Table",
                                                "required": true
                                            },
                                            {
                                                "name": "record",
                                                "type": "collection",
                                                "label": "Record",
                                                "spec": [
                                                    {
                                                        "name": "fldsIZ7AUS3atEP5P",
                                                        "type": "date",
                                                        "label": "Fecha",
                                                        "time": true
                                                    },
                                                    {
                                                        "name": "fldYYFtBnbgR44rJs",
                                                        "type": "text",
                                                        "label": "Módulo"
                                                    },
                                                    {
                                                        "name": "fldCGXL0eF9oobcgk",
                                                        "type": "text",
                                                        "label": "Detalle"
                                                    }
                                                ]
                                            }
                                        ],
                                        "interface": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "createdTime",
                                                "type": "date",
                                                "label": "Created Time"
                                            },
                                            {
                                                "name": "Fecha",
                                                "label": "Fecha",
                                                "type": "date",
                                                "time": true
                                            },
                                            {
                                                "name": "Módulo",
                                                "label": "Módulo",
                                                "type": "text"
                                            },
                                            {
                                                "name": "Detalle",
                                                "label": "Detalle",
                                                "type": "text",
                                                "multiline": true
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            "id": 9,
                            "module": "json:ParseJSON",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "json": "{{6.result}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 894,
                                    "y": -150
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "json",
                                        "type": "text",
                                        "label": "JSON string",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 13,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 9154544
                            },
                            "mapper": {
                                "base": "appH1hlHZM0vOyda1",
                                "table": "tbl919xvsXECKNIiq",
                                "record": {
                                    "fldBadsT85cqQRdPY": "{{9.email}}",
                                    "fldL9GpKnoeY6xvNL": "{{9.interes}}",
                                    "fldLmbuDrR8fXtiKW": "{{9.propuesta}}",
                                    "fldMd5aLhBifIGCE9": "Pendiente",
                                    "fldTdFsexQnA7q07m": "{{2.fromName}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": -150
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "TP 8 CoderHouse"
                                        },
                                        "table": {
                                            "label": "Consultas",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fldTdFsexQnA7q07m",
                                                            "type": "text",
                                                            "label": "Cliente",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fldBadsT85cqQRdPY",
                                                            "type": "text",
                                                            "label": "Email"
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fldL9GpKnoeY6xvNL",
                                                            "type": "select",
                                                            "label": "Interés",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Desarrollo Web",
                                                                    "value": "Desarrollo Web"
                                                                },
                                                                {
                                                                    "label": "Branding",
                                                                    "value": "Branding"
                                                                },
                                                                {
                                                                    "label": "Consultoría",
                                                                    "value": "Consultoría"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fldMd5aLhBifIGCE9",
                                                            "type": "select",
                                                            "label": "Estado",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Pendiente",
                                                                    "value": "Pendiente"
                                                                },
                                                                {
                                                                    "label": "Aprobado",
                                                                    "value": "Aprobado"
                                                                },
                                                                {
                                                                    "label": "Rechazado",
                                                                    "value": "Rechazado"
                                                                },
                                                                {
                                                                    "label": "Enviado",
                                                                    "value": "Enviado"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "fldLmbuDrR8fXtiKW",
                                                            "type": "text",
                                                            "label": "Borrador",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fldYQVzqPcxgpHYtv",
                                                            "spec": {
                                                                "label": "Record ID"
                                                            },
                                                            "type": "array",
                                                            "label": "Contactos"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fldL9GpKnoeY6xvNL": {
                                                    "mode": "edit"
                                                },
                                                "fldMd5aLhBifIGCE9": {
                                                    "mode": "edit"
                                                },
                                                "fldYQVzqPcxgpHYtv": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "My Airtable OAuth connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldTdFsexQnA7q07m",
                                                "type": "text",
                                                "label": "Cliente"
                                            },
                                            {
                                                "name": "fldBadsT85cqQRdPY",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldL9GpKnoeY6xvNL",
                                                "type": "select",
                                                "label": "Interés"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldMd5aLhBifIGCE9",
                                                "type": "select",
                                                "label": "Estado"
                                            },
                                            {
                                                "name": "fldLmbuDrR8fXtiKW",
                                                "type": "text",
                                                "label": "Borrador"
                                            },
                                            {
                                                "name": "fldYQVzqPcxgpHYtv",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Contactos"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "ID Lead",
                                        "type": "number",
                                        "label": "ID Lead"
                                    },
                                    {
                                        "name": "Cliente",
                                        "type": "text",
                                        "label": "Cliente",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "Interés",
                                        "type": "text",
                                        "label": "Interés"
                                    },
                                    {
                                        "name": "Estado",
                                        "type": "text",
                                        "label": "Estado"
                                    },
                                    {
                                        "name": "Borrador",
                                        "type": "text",
                                        "label": "Borrador",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Contactos",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Contactos"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 15,
                            "module": "builtin:BasicIfElse",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1473,
                                    "y": -156
                                }
                            },
                            "branches": [
                                {
                                    "merge": false,
                                    "label": "Alto",
                                    "type": "condition",
                                    "flow": [
                                        {
                                            "id": 17,
                                            "module": "slack:CreateMessage",
                                            "version": 4,
                                            "parameters": {
                                                "__IMTCONN__": 9154561
                                            },
                                            "mapper": {
                                                "channelWType": "list",
                                                "blocks": "[\r\n\t{\r\n\t\t\"type\": \"section\",\r\n\t\t\"text\": {\r\n\t\t\t\"type\": \"mrkdwn\",\r\n\t\t\t\"text\": \"*NUEVA CONSULTA  RECIBIDA - URGENCIA: {{9.urgencia}}*\\n*Cliente:* {{2.fromName}}\\n*Interés:* {{13.`Interés`}}\\n\\n📝 *Propuesta:* {{9.propuesta}}\"\r\n\t\t}\r\n\t},\r\n\t{\r\n\t\t\"type\": \"context\",\r\n\t\t\"elements\": [\r\n\t\t\t{\r\n\t\t\t\t\"type\": \"mrkdwn\",\r\n\t\t\t\t\"text\": \"📌 *Instrucción:* Reacciona con :white_check_mark: para **Aprobar** o con :x: para **Rechazar**.\"\r\n\t\t\t}\r\n\t\t]\r\n\t}\r\n]",
                                                "parse": false,
                                                "mrkdwn": true,
                                                "icon_emoji": ":rotating_light:",
                                                "username": "Asistente de Leads IA",
                                                "channelType": "public",
                                                "channel": "C0BHEUFC0KS"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": -450
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "label": "My Slack (user) connection (coderhouse-bb31334.slack.com - gazarrifrete)",
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "slack2"
                                                            }
                                                        }
                                                    },
                                                    "expect": {
                                                        "channelWType": {
                                                            "label": "Select from the list"
                                                        },
                                                        "reply_broadcast": {
                                                            "mode": "chose"
                                                        },
                                                        "link_names": {
                                                            "mode": "chose"
                                                        },
                                                        "parse": {
                                                            "mode": "chose"
                                                        },
                                                        "mrkdwn": {
                                                            "mode": "chose"
                                                        },
                                                        "unfurl_links": {
                                                            "mode": "chose"
                                                        },
                                                        "unfurl_media": {
                                                            "mode": "chose"
                                                        },
                                                        "channelType": {
                                                            "label": "Public channel"
                                                        },
                                                        "channel": {
                                                            "mode": "chose",
                                                            "label": "todo-coderhouse"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:slack2,slack3",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "channelWType",
                                                        "type": "select",
                                                        "label": "Enter a channel ID or name",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "manualy",
                                                                "list"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "blocks",
                                                        "type": "text",
                                                        "label": "Blocks"
                                                    },
                                                    {
                                                        "name": "thread_ts",
                                                        "type": "text",
                                                        "label": "Thread message ID (time stamp)"
                                                    },
                                                    {
                                                        "name": "reply_broadcast",
                                                        "type": "boolean",
                                                        "label": "Reply broadcast"
                                                    },
                                                    {
                                                        "name": "link_names",
                                                        "type": "boolean",
                                                        "label": "Link names"
                                                    },
                                                    {
                                                        "name": "parse",
                                                        "type": "boolean",
                                                        "label": "Parse message text"
                                                    },
                                                    {
                                                        "name": "mrkdwn",
                                                        "type": "boolean",
                                                        "label": "Use markdown"
                                                    },
                                                    {
                                                        "name": "unfurl_links",
                                                        "type": "boolean",
                                                        "label": "Unfurl primarily text-based content"
                                                    },
                                                    {
                                                        "name": "unfurl_media",
                                                        "type": "boolean",
                                                        "label": "Unfurl media content"
                                                    },
                                                    {
                                                        "name": "icon_emoji",
                                                        "type": "text",
                                                        "label": "Icon emoji"
                                                    },
                                                    {
                                                        "name": "icon_url",
                                                        "type": "url",
                                                        "label": "Icon url"
                                                    },
                                                    {
                                                        "name": "username",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "channelType",
                                                        "type": "select",
                                                        "label": "Channel type",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "public",
                                                                "private",
                                                                "im",
                                                                "mpim"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "channel",
                                                        "type": "select",
                                                        "label": "Public channel",
                                                        "required": true
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        },
                                        {
                                            "id": 26,
                                            "module": "airtable:ActionUpdateRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 9154544
                                            },
                                            "mapper": {
                                                "base": "appH1hlHZM0vOyda1",
                                                "typecast": false,
                                                "useColumnId": false,
                                                "table": "tbl919xvsXECKNIiq",
                                                "id": "{{13.id}}",
                                                "record": {
                                                    "fldVoIUFXvA1BlNQc": "{{17.ts}}"
                                                }
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": -450,
                                                    "name": "Agregar Timestamp"
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "label": "My Airtable OAuth connection (User ID: usrBs07AitWMvF0D8)",
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable3"
                                                            }
                                                        }
                                                    },
                                                    "expect": {
                                                        "base": {
                                                            "label": "TP 8 CoderHouse"
                                                        },
                                                        "typecast": {
                                                            "mode": "chose"
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        },
                                                        "table": {
                                                            "label": "Consultas"
                                                        },
                                                        "record": {
                                                            "nested": {
                                                                "fldL9GpKnoeY6xvNL": {
                                                                    "mode": "edit"
                                                                },
                                                                "fldMd5aLhBifIGCE9": {
                                                                    "mode": "edit"
                                                                },
                                                                "fldYQVzqPcxgpHYtv": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "Record ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "record",
                                                        "type": "collection",
                                                        "label": "Record",
                                                        "spec": [
                                                            {
                                                                "name": "fldTdFsexQnA7q07m",
                                                                "type": "text",
                                                                "label": "Cliente"
                                                            },
                                                            {
                                                                "name": "fldBadsT85cqQRdPY",
                                                                "type": "text",
                                                                "label": "Email"
                                                            },
                                                            {
                                                                "name": "fldL9GpKnoeY6xvNL",
                                                                "type": "select",
                                                                "label": "Interés",
                                                                "mode": "edit"
                                                            },
                                                            {
                                                                "name": "fldMd5aLhBifIGCE9",
                                                                "type": "select",
                                                                "label": "Estado",
                                                                "mode": "edit"
                                                            },
                                                            {
                                                                "name": "fldLmbuDrR8fXtiKW",
                                                                "type": "text",
                                                                "label": "Borrador"
                                                            },
                                                            {
                                                                "name": "fldYQVzqPcxgpHYtv",
                                                                "type": "array",
                                                                "label": "Contactos",
                                                                "spec": {
                                                                    "label": "Record ID",
                                                                    "name": "value"
                                                                }
                                                            },
                                                            {
                                                                "name": "fldVoIUFXvA1BlNQc",
                                                                "type": "text",
                                                                "label": "SlackTS"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "ID Lead",
                                                        "label": "ID Lead",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "Cliente",
                                                        "label": "Cliente",
                                                        "type": "text",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Email",
                                                        "label": "Email",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "Interés",
                                                        "label": "Interés",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "Estado",
                                                        "label": "Estado",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "Borrador",
                                                        "label": "Borrador",
                                                        "type": "text",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Contactos",
                                                        "label": "Contactos",
                                                        "type": "array",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        }
                                                    },
                                                    {
                                                        "name": "SlackTS",
                                                        "label": "SlackTS",
                                                        "type": "text",
                                                        "multiline": true
                                                    }
                                                ]
                                            }
                                        }
                                    ],
                                    "conditions": [
                                        [
                                            {
                                                "a": "{{9.urgencia}}",
                                                "b": "Alto",
                                                "o": "text:equal"
                                            }
                                        ]
                                    ]
                                },
                                {
                                    "merge": false,
                                    "label": "Moderado",
                                    "type": "condition",
                                    "flow": [
                                        {
                                            "id": 20,
                                            "module": "slack:CreateMessage",
                                            "version": 4,
                                            "parameters": {
                                                "__IMTCONN__": 9154561
                                            },
                                            "mapper": {
                                                "channelWType": "list",
                                                "blocks": "[\r\n\t{\r\n\t\t\"type\": \"section\",\r\n\t\t\"text\": {\r\n\t\t\t\"type\": \"mrkdwn\",\r\n\t\t\t\"text\": \"*NUEVA CONSULTA  RECIBIDA - URGENCIA: {{9.urgencia}}*\\n*Cliente:* {{2.fromName}}\\n*Interés:* {{13.`Interés`}}\\n\\n📝 *Propuesta:* {{9.propuesta}}\"\r\n\t\t}\r\n\t},\r\n\t{\r\n\t\t\"type\": \"context\",\r\n\t\t\"elements\": [\r\n\t\t\t{\r\n\t\t\t\t\"type\": \"mrkdwn\",\r\n\t\t\t\t\"text\": \"📌 *Instrucción:* Reacciona con :white_check_mark: para **Aprobar** o con :x: para **Rechazar**.\"\r\n\t\t\t}\r\n\t\t]\r\n\t}\r\n]",
                                                "parse": false,
                                                "mrkdwn": true,
                                                "icon_emoji": ":bullettrain_side:",
                                                "username": "Asistente de Leads IA",
                                                "channelType": "public",
                                                "channel": "C0BHEUFC0KS"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1826,
                                                    "y": -136
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "label": "My Slack (user) connection (coderhouse-bb31334.slack.com - gazarrifrete)",
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "slack2"
                                                            }
                                                        }
                                                    },
                                                    "expect": {
                                                        "channelWType": {
                                                            "label": "Select from the list"
                                                        },
                                                        "reply_broadcast": {
                                                            "mode": "chose"
                                                        },
                                                        "link_names": {
                                                            "mode": "chose"
                                                        },
                                                        "parse": {
                                                            "mode": "chose"
                                                        },
                                                        "mrkdwn": {
                                                            "mode": "chose"
                                                        },
                                                        "unfurl_links": {
                                                            "mode": "chose"
                                                        },
                                                        "unfurl_media": {
                                                            "mode": "chose"
                                                        },
                                                        "channelType": {
                                                            "label": "Public channel"
                                                        },
                                                        "channel": {
                                                            "mode": "chose",
                                                            "label": "todo-coderhouse"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:slack2,slack3",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "channelWType",
                                                        "type": "select",
                                                        "label": "Enter a channel ID or name",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "manualy",
                                                                "list"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "blocks",
                                                        "type": "text",
                                                        "label": "Blocks"
                                                    },
                                                    {
                                                        "name": "thread_ts",
                                                        "type": "text",
                                                        "label": "Thread message ID (time stamp)"
                                                    },
                                                    {
                                                        "name": "reply_broadcast",
                                                        "type": "boolean",
                                                        "label": "Reply broadcast"
                                                    },
                                                    {
                                                        "name": "link_names",
                                                        "type": "boolean",
                                                        "label": "Link names"
                                                    },
                                                    {
                                                        "name": "parse",
                                                        "type": "boolean",
                                                        "label": "Parse message text"
                                                    },
                                                    {
                                                        "name": "mrkdwn",
                                                        "type": "boolean",
                                                        "label": "Use markdown"
                                                    },
                                                    {
                                                        "name": "unfurl_links",
                                                        "type": "boolean",
                                                        "label": "Unfurl primarily text-based content"
                                                    },
                                                    {
                                                        "name": "unfurl_media",
                                                        "type": "boolean",
                                                        "label": "Unfurl media content"
                                                    },
                                                    {
                                                        "name": "icon_emoji",
                                                        "type": "text",
                                                        "label": "Icon emoji"
                                                    },
                                                    {
                                                        "name": "icon_url",
                                                        "type": "url",
                                                        "label": "Icon url"
                                                    },
                                                    {
                                                        "name": "username",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "channelType",
                                                        "type": "select",
                                                        "label": "Channel type",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "public",
                                                                "private",
                                                                "im",
                                                                "mpim"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "channel",
                                                        "type": "select",
                                                        "label": "Public channel",
                                                        "required": true
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        },
                                        {
                                            "id": 27,
                                            "module": "airtable:ActionUpdateRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 9154544
                                            },
                                            "mapper": {
                                                "base": "appH1hlHZM0vOyda1",
                                                "typecast": false,
                                                "useColumnId": false,
                                                "table": "tbl919xvsXECKNIiq",
                                                "id": "{{13.id}}",
                                                "record": {
                                                    "fldVoIUFXvA1BlNQc": "{{20.ts}}"
                                                }
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2111,
                                                    "y": -153,
                                                    "name": "Agregar Timestamp"
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "label": "My Airtable OAuth connection (User ID: usrBs07AitWMvF0D8)",
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable3"
                                                            }
                                                        }
                                                    },
                                                    "expect": {
                                                        "base": {
                                                            "label": "TP 8 CoderHouse"
                                                        },
                                                        "typecast": {
                                                            "mode": "chose"
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        },
                                                        "table": {
                                                            "label": "Consultas"
                                                        },
                                                        "record": {
                                                            "nested": {
                                                                "fldL9GpKnoeY6xvNL": {
                                                                    "mode": "edit"
                                                                },
                                                                "fldMd5aLhBifIGCE9": {
                                                                    "mode": "edit"
                                                                },
                                                                "fldYQVzqPcxgpHYtv": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "Record ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "record",
                                                        "type": "collection",
                                                        "label": "Record",
                                                        "spec": [
                                                            {
                                                                "name": "fldTdFsexQnA7q07m",
                                                                "type": "text",
                                                                "label": "Cliente"
                                                            },
                                                            {
                                                                "name": "fldBadsT85cqQRdPY",
                                                                "type": "text",
                                                                "label": "Email"
                                                            },
                                                            {
                                                                "name": "fldL9GpKnoeY6xvNL",
                                                                "type": "select",
                                                                "label": "Interés",
                                                                "mode": "edit"
                                                            },
                                                            {
                                                                "name": "fldMd5aLhBifIGCE9",
                                                                "type": "select",
                                                                "label": "Estado",
                                                                "mode": "edit"
                                                            },
                                                            {
                                                                "name": "fldLmbuDrR8fXtiKW",
                                                                "type": "text",
                                                                "label": "Borrador"
                                                            },
                                                            {
                                                                "name": "fldYQVzqPcxgpHYtv",
                                                                "type": "array",
                                                                "label": "Contactos",
                                                                "spec": {
                                                                    "label": "Record ID",
                                                                    "name": "value"
                                                                }
                                                            },
                                                            {
                                                                "name": "fldVoIUFXvA1BlNQc",
                                                                "type": "text",
                                                                "label": "SlackTS"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "ID Lead",
                                                        "label": "ID Lead",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "Cliente",
                                                        "label": "Cliente",
                                                        "type": "text",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Email",
                                                        "label": "Email",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "Interés",
                                                        "label": "Interés",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "Estado",
                                                        "label": "Estado",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "Borrador",
                                                        "label": "Borrador",
                                                        "type": "text",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Contactos",
                                                        "label": "Contactos",
                                                        "type": "array",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        }
                                                    },
                                                    {
                                                        "name": "SlackTS",
                                                        "label": "SlackTS",
                                                        "type": "text",
                                                        "multiline": true
                                                    }
                                                ]
                                            }
                                        }
                                    ],
                                    "conditions": [
                                        [
                                            {
                                                "a": "{{9.urgencia}}",
                                                "b": "Moderado",
                                                "o": "text:equal"
                                            }
                                        ]
                                    ]
                                },
                                {
                                    "merge": false,
                                    "disabled": false,
                                    "label": "",
                                    "type": "else",
                                    "flow": [
                                        {
                                            "id": 21,
                                            "module": "slack:CreateMessage",
                                            "version": 4,
                                            "parameters": {
                                                "__IMTCONN__": 9154561
                                            },
                                            "filter": {
                                                "name": "Bajo"
                                            },
                                            "mapper": {
                                                "channelWType": "list",
                                                "blocks": "[\r\n\t{\r\n\t\t\"type\": \"section\",\r\n\t\t\"text\": {\r\n\t\t\t\"type\": \"mrkdwn\",\r\n\t\t\t\"text\": \"*NUEVA CONSULTA  RECIBIDA - URGENCIA: {{9.urgencia}}*\\n*Cliente:* {{2.fromName}}\\n*Interés:* {{13.`Interés`}}\\n\\n📝 *Propuesta:* {{9.propuesta}}\"\r\n\t\t}\r\n\t},\r\n\t{\r\n\t\t\"type\": \"context\",\r\n\t\t\"elements\": [\r\n\t\t\t{\r\n\t\t\t\t\"type\": \"mrkdwn\",\r\n\t\t\t\t\"text\": \"📌 *Instrucción:* Reacciona con :white_check_mark: para **Aprobar** o con :x: para **Rechazar**.\"\r\n\t\t\t}\r\n\t\t]\r\n\t}\r\n]",
                                                "parse": false,
                                                "mrkdwn": true,
                                                "icon_emoji": ":briefcase:",
                                                "username": "Asistente de Leads IA",
                                                "channelType": "public",
                                                "channel": "C0BHEUFC0KS"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1819,
                                                    "y": 126
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "label": "My Slack (user) connection (coderhouse-bb31334.slack.com - gazarrifrete)",
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "slack2"
                                                            }
                                                        }
                                                    },
                                                    "expect": {
                                                        "channelWType": {
                                                            "label": "Select from the list"
                                                        },
                                                        "reply_broadcast": {
                                                            "mode": "chose"
                                                        },
                                                        "link_names": {
                                                            "mode": "chose"
                                                        },
                                                        "parse": {
                                                            "mode": "chose"
                                                        },
                                                        "mrkdwn": {
                                                            "mode": "chose"
                                                        },
                                                        "unfurl_links": {
                                                            "mode": "chose"
                                                        },
                                                        "unfurl_media": {
                                                            "mode": "chose"
                                                        },
                                                        "channelType": {
                                                            "label": "Public channel"
                                                        },
                                                        "channel": {
                                                            "mode": "chose",
                                                            "label": "todo-coderhouse"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:slack2,slack3",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "channelWType",
                                                        "type": "select",
                                                        "label": "Enter a channel ID or name",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "manualy",
                                                                "list"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "blocks",
                                                        "type": "text",
                                                        "label": "Blocks"
                                                    },
                                                    {
                                                        "name": "thread_ts",
                                                        "type": "text",
                                                        "label": "Thread message ID (time stamp)"
                                                    },
                                                    {
                                                        "name": "reply_broadcast",
                                                        "type": "boolean",
                                                        "label": "Reply broadcast"
                                                    },
                                                    {
                                                        "name": "link_names",
                                                        "type": "boolean",
                                                        "label": "Link names"
                                                    },
                                                    {
                                                        "name": "parse",
                                                        "type": "boolean",
                                                        "label": "Parse message text"
                                                    },
                                                    {
                                                        "name": "mrkdwn",
                                                        "type": "boolean",
                                                        "label": "Use markdown"
                                                    },
                                                    {
                                                        "name": "unfurl_links",
                                                        "type": "boolean",
                                                        "label": "Unfurl primarily text-based content"
                                                    },
                                                    {
                                                        "name": "unfurl_media",
                                                        "type": "boolean",
                                                        "label": "Unfurl media content"
                                                    },
                                                    {
                                                        "name": "icon_emoji",
                                                        "type": "text",
                                                        "label": "Icon emoji"
                                                    },
                                                    {
                                                        "name": "icon_url",
                                                        "type": "url",
                                                        "label": "Icon url"
                                                    },
                                                    {
                                                        "name": "username",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "channelType",
                                                        "type": "select",
                                                        "label": "Channel type",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "public",
                                                                "private",
                                                                "im",
                                                                "mpim"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "channel",
                                                        "type": "select",
                                                        "label": "Public channel",
                                                        "required": true
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        },
                                        {
                                            "id": 28,
                                            "module": "airtable:ActionUpdateRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 9154544
                                            },
                                            "mapper": {
                                                "base": "appH1hlHZM0vOyda1",
                                                "typecast": false,
                                                "useColumnId": false,
                                                "table": "tbl919xvsXECKNIiq",
                                                "id": "{{13.id}}",
                                                "record": {
                                                    "fldVoIUFXvA1BlNQc": "{{21.message.ts}}"
                                                }
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2116,
                                                    "y": 113,
                                                    "name": "Agregar Timestamp"
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "label": "My Airtable OAuth connection (User ID: usrBs07AitWMvF0D8)",
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable3"
                                                            }
                                                        }
                                                    },
                                                    "expect": {
                                                        "base": {
                                                            "label": "TP 8 CoderHouse"
                                                        },
                                                        "typecast": {
                                                            "mode": "chose"
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        },
                                                        "table": {
                                                            "label": "Consultas"
                                                        },
                                                        "record": {
                                                            "nested": {
                                                                "fldL9GpKnoeY6xvNL": {
                                                                    "mode": "edit"
                                                                },
                                                                "fldMd5aLhBifIGCE9": {
                                                                    "mode": "edit"
                                                                },
                                                                "fldYQVzqPcxgpHYtv": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "Record ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "record",
                                                        "type": "collection",
                                                        "label": "Record",
                                                        "spec": [
                                                            {
                                                                "name": "fldTdFsexQnA7q07m",
                                                                "type": "text",
                                                                "label": "Cliente"
                                                            },
                                                            {
                                                                "name": "fldBadsT85cqQRdPY",
                                                                "type": "text",
                                                                "label": "Email"
                                                            },
                                                            {
                                                                "name": "fldL9GpKnoeY6xvNL",
                                                                "type": "select",
                                                                "label": "Interés",
                                                                "mode": "edit"
                                                            },
                                                            {
                                                                "name": "fldMd5aLhBifIGCE9",
                                                                "type": "select",
                                                                "label": "Estado",
                                                                "mode": "edit"
                                                            },
                                                            {
                                                                "name": "fldLmbuDrR8fXtiKW",
                                                                "type": "text",
                                                                "label": "Borrador"
                                                            },
                                                            {
                                                                "name": "fldYQVzqPcxgpHYtv",
                                                                "type": "array",
                                                                "label": "Contactos",
                                                                "spec": {
                                                                    "label": "Record ID",
                                                                    "name": "value"
                                                                }
                                                            },
                                                            {
                                                                "name": "fldVoIUFXvA1BlNQc",
                                                                "type": "text",
                                                                "label": "SlackTS"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "ID Lead",
                                                        "label": "ID Lead",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "Cliente",
                                                        "label": "Cliente",
                                                        "type": "text",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Email",
                                                        "label": "Email",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "Interés",
                                                        "label": "Interés",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "Estado",
                                                        "label": "Estado",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "Borrador",
                                                        "label": "Borrador",
                                                        "type": "text",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Contactos",
                                                        "label": "Contactos",
                                                        "type": "array",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        }
                                                    },
                                                    {
                                                        "name": "SlackTS",
                                                        "label": "SlackTS",
                                                        "type": "text",
                                                        "multiline": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ],
                    "conditions": [
                        [
                            {
                                "a": "{{2.subject}}",
                                "b": "auto-?reply|autoreply|out of office|outofoffice|fuera de oficina|undeliverable|delivery status|failure|vacation|fuera de la oficina|respuesta automatica",
                                "o": "text:notpattern:ci"
                            },
                            {
                                "a": "{{2.fromEmail}}",
                                "b": "no-?reply|noreply|donotreply|mailer-daemon|postmaster|notification|alert|noresponder",
                                "o": "text:notpattern:ci"
                            }
                        ]
                    ]
                },
                {
                    "merge": false,
                    "disabled": false,
                    "label": "",
                    "type": "else",
                    "flow": [
                        {
                            "id": 5,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 9154544
                            },
                            "filter": null,
                            "mapper": {
                                "base": "appH1hlHZM0vOyda1",
                                "typecast": false,
                                "useColumnId": false,
                                "table": "tblyaT9fqHTKWwttJ",
                                "record": {
                                    "fldsIZ7AUS3atEP5P": "{{now}}",
                                    "fldYYFtBnbgR44rJs": "Gmail",
                                    "fldCGXL0eF9oobcgk": "El usuario está enviando respuestas automáticas"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 150,
                                    "name": "Error"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Airtable OAuth connection (User ID: usrBs07AitWMvF0D8)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "label": "TP 8 CoderHouse"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fldsIZ7AUS3atEP5P",
                                                            "label": "Fecha",
                                                            "type": "date",
                                                            "time": true
                                                        },
                                                        {
                                                            "name": "fldYYFtBnbgR44rJs",
                                                            "label": "Módulo",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "fldCGXL0eF9oobcgk",
                                                            "label": "Detalle",
                                                            "type": "text",
                                                            "multiline": true
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ],
                                            "label": "Errores"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "type": "collection",
                                        "label": "Record",
                                        "spec": [
                                            {
                                                "name": "fldsIZ7AUS3atEP5P",
                                                "type": "date",
                                                "label": "Fecha",
                                                "time": true
                                            },
                                            {
                                                "name": "fldYYFtBnbgR44rJs",
                                                "type": "text",
                                                "label": "Módulo"
                                            },
                                            {
                                                "name": "fldCGXL0eF9oobcgk",
                                                "type": "text",
                                                "label": "Detalle"
                                            }
                                        ]
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Fecha",
                                        "label": "Fecha",
                                        "type": "date",
                                        "time": true
                                    },
                                    {
                                        "name": "Módulo",
                                        "label": "Módulo",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Detalle",
                                        "label": "Detalle",
                                        "type": "text",
                                        "multiline": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}