TP8 - 2.blueprint.json
{
    "name": "TP8 - 2",
    "flow": [
        {
            "id": 2,
            "module": "slack:watchNewEvents",
            "version": 4,
            "parameters": {
                "__IMTHOOK__": 3420497
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Reacción Slack"
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "label": "My slack-events-make webhook",
                            "data": {
                                "editable": "false"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:slack-events-make",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                    },
                    {
                        "name": "user",
                        "type": "text",
                        "label": "User"
                    },
                    {
                        "name": "reaction",
                        "type": "text",
                        "label": "Reaction"
                    },
                    {
                        "name": "item",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "channel",
                                "type": "text",
                                "label": "Channel"
                            },
                            {
                                "name": "ts",
                                "type": "text",
                                "label": "Timestamp"
                            }
                        ],
                        "type": "collection",
                        "label": "Item"
                    },
                    {
                        "name": "item_user",
                        "type": "text",
                        "label": "Item User"
                    },
                    {
                        "name": "event_ts",
                        "type": "text",
                        "label": "Event Timestamp"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 15,
                    "module": "airtable:ActionCreateRecord",
                    "version": 3,
                    "parameters": {
                        "__IMTCONN__": 9154544
                    },
                    "mapper": {
                        "base": "appH1hlHZM0vOyda1",
                        "typecast": false,
                        "useColumnId": false,
                        "table": "tblyaT9fqHTKWwttJ",
                        "record": {
                            "fldsIZ7AUS3atEP5P": "{{now}}",
                            "fldYYFtBnbgR44rJs": "Slack",
                            "fldCGXL0eF9oobcgk": "{{2.error.message}}"
                        }
                    },
                    "metadata": {
                        "designer": {
                            "x": -7,
                            "y": -271,
                            "name": "Error"
                        },
                        "restore": {
                            "parameters": {
                                "__IMTCONN__": {
                                    "label": "My Airtable OAuth connection (User ID: usrBs07AitWMvF0D8)",
                                    "data": {
                                        "scoped": "true",
                                        "connection": "airtable3"
                                    }
                                }
                            },
                            "expect": {
                                "base": {
                                    "label": "TP 8 CoderHouse"
                                },
                                "typecast": {
                                    "mode": "chose"
                                },
                                "useColumnId": {
                                    "mode": "chose"
                                },
                                "table": {
                                    "nested": [
                                        {
                                            "name": "record",
                                            "spec": [
                                                {
                                                    "name": "fldsIZ7AUS3atEP5P",
                                                    "label": "Fecha",
                                                    "type": "date",
                                                    "time": true
                                                },
                                                {
                                                    "name": "fldYYFtBnbgR44rJs",
                                                    "label": "Módulo",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "fldCGXL0eF9oobcgk",
                                                    "label": "Detalle",
                                                    "type": "text",
                                                    "multiline": true
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Record"
                                        }
                                    ],
                                    "label": "Errores"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account:airtable3,airtable2",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "base",
                                "type": "select",
                                "label": "Base",
                                "required": true
                            },
                            {
                                "name": "typecast",
                                "type": "boolean",
                                "label": "Smart links",
                                "required": true
                            },
                            {
                                "name": "useColumnId",
                                "type": "boolean",
                                "label": "Use Column ID",
                                "required": true
                            },
                            {
                                "name": "table",
                                "type": "select",
                                "label": "Table",
                                "required": true
                            },
                            {
                                "name": "record",
                                "type": "collection",
                                "label": "Record",
                                "spec": [
                                    {
                                        "name": "fldsIZ7AUS3atEP5P",
                                        "type": "date",
                                        "label": "Fecha",
                                        "time": true
                                    },
                                    {
                                        "name": "fldYYFtBnbgR44rJs",
                                        "type": "text",
                                        "label": "Módulo"
                                    },
                                    {
                                        "name": "fldCGXL0eF9oobcgk",
                                        "type": "text",
                                        "label": "Detalle"
                                    }
                                ]
                            }
                        ],
                        "interface": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "createdTime",
                                "type": "date",
                                "label": "Created Time"
                            },
                            {
                                "name": "Fecha",
                                "label": "Fecha",
                                "type": "date",
                                "time": true
                            },
                            {
                                "name": "Módulo",
                                "label": "Módulo",
                                "type": "text"
                            },
                            {
                                "name": "Detalle",
                                "label": "Detalle",
                                "type": "text",
                                "multiline": true
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 320,
                    "y": -2
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "airtable:ActionSearchRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 9154544
                            },
                            "filter": {
                                "name": "Rechazado",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.reaction}}",
                                            "o": "text:equal",
                                            "b": ""
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "appH1hlHZM0vOyda1",
                                "useColumnId": false,
                                "table": "tbl919xvsXECKNIiq",
                                "formula": "SEARCH(\"{{2.item.ts}}\", {SlackTS}) > 0",
                                "maxRecords": "10"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 617,
                                    "y": 120,
                                    "name": "Traer SlackTS"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Airtable OAuth connection (User ID: usrBs07AitWMvF0D8)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "TP 8 CoderHouse"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Consultas"
                                        },
                                        "sort": {
                                            "mode": "chose"
                                        },
                                        "view": {
                                            "mode": "chose"
                                        },
                                        "fields": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "maxRecords",
                                        "type": "integer",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "sort",
                                        "type": "array",
                                        "label": "Sort",
                                        "spec": [
                                            {
                                                "name": "field",
                                                "type": "select",
                                                "label": "Field",
                                                "options": [],
                                                "dynamic": true
                                            },
                                            {
                                                "name": "direction",
                                                "type": "select",
                                                "label": "Direction",
                                                "options": [
                                                    {
                                                        "label": "Descending",
                                                        "value": "desc"
                                                    },
                                                    {
                                                        "label": "Ascending",
                                                        "value": "asc"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "view",
                                        "type": "select",
                                        "label": "View"
                                    },
                                    {
                                        "name": "fields",
                                        "type": "select",
                                        "label": "Output Fields",
                                        "multiple": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "label": "Total number of bundles",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "label": "Bundle order position",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "ID Lead",
                                        "label": "ID Lead",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Cliente",
                                        "label": "Cliente",
                                        "type": "text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Email",
                                        "label": "Email",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Interés",
                                        "label": "Interés",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Estado",
                                        "label": "Estado",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Borrador",
                                        "label": "Borrador",
                                        "type": "text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Contactos",
                                        "label": "Contactos",
                                        "type": "array",
                                        "spec": {
                                            "label": "Record ID"
                                        }
                                    },
                                    {
                                        "name": "SlackTS",
                                        "label": "SlackTS",
                                        "type": "text",
                                        "multiline": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 9154544
                            },
                            "filter": {
                                "name": "SlackTs",
                                "conditions": []
                            },
                            "mapper": {
                                "base": "appH1hlHZM0vOyda1",
                                "typecast": false,
                                "useColumnId": false,
                                "table": "tbl919xvsXECKNIiq",
                                "id": "{{9.id}}",
                                "record": {
                                    "fldMd5aLhBifIGCE9": "Rechazado"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 902,
                                    "y": 107,
                                    "name": "Act estado Rechazado"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Airtable OAuth connection (User ID: usrBs07AitWMvF0D8)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "label": "TP 8 CoderHouse"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "label": "Consultas"
                                        },
                                        "record": {
                                            "nested": {
                                                "fldL9GpKnoeY6xvNL": {
                                                    "mode": "edit"
                                                },
                                                "fldMd5aLhBifIGCE9": {
                                                    "mode": "edit"
                                                },
                                                "fldYQVzqPcxgpHYtv": {
                                                    "mode": "chose"
                                                }
                                            }
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "type": "collection",
                                        "label": "Record",
                                        "spec": [
                                            {
                                                "name": "fldTdFsexQnA7q07m",
                                                "type": "text",
                                                "label": "Cliente"
                                            },
                                            {
                                                "name": "fldBadsT85cqQRdPY",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fldL9GpKnoeY6xvNL",
                                                "type": "select",
                                                "label": "Interés",
                                                "mode": "edit"
                                            },
                                            {
                                                "name": "fldMd5aLhBifIGCE9",
                                                "type": "select",
                                                "label": "Estado",
                                                "mode": "edit"
                                            },
                                            {
                                                "name": "fldLmbuDrR8fXtiKW",
                                                "type": "text",
                                                "label": "Borrador"
                                            },
                                            {
                                                "name": "fldYQVzqPcxgpHYtv",
                                                "type": "array",
                                                "label": "Contactos",
                                                "spec": {
                                                    "label": "Record ID",
                                                    "name": "value"
                                                }
                                            },
                                            {
                                                "name": "fldVoIUFXvA1BlNQc",
                                                "type": "text",
                                                "label": "SlackTS"
                                            }
                                        ]
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "ID Lead",
                                        "label": "ID Lead",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Cliente",
                                        "label": "Cliente",
                                        "type": "text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Email",
                                        "label": "Email",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Interés",
                                        "label": "Interés",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Estado",
                                        "label": "Estado",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Borrador",
                                        "label": "Borrador",
                                        "type": "text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Contactos",
                                        "label": "Contactos",
                                        "type": "array",
                                        "spec": {
                                            "label": "Record ID"
                                        }
                                    },
                                    {
                                        "name": "SlackTS",
                                        "label": "SlackTS",
                                        "type": "text",
                                        "multiline": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 13,
                                    "module": "airtable:ActionCreateRecord",
                                    "version": 3,
                                    "parameters": {
                                        "__IMTCONN__": 9154544
                                    },
                                    "mapper": {
                                        "base": "appH1hlHZM0vOyda1",
                                        "typecast": false,
                                        "useColumnId": false,
                                        "table": "tblyaT9fqHTKWwttJ",
                                        "record": {
                                            "fldsIZ7AUS3atEP5P": "{{now}}",
                                            "fldYYFtBnbgR44rJs": "Airtable",
                                            "fldCGXL0eF9oobcgk": "{{10.error.message}}"
                                        }
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 909,
                                            "y": 363,
                                            "name": "Error"
                                        },
                                        "restore": {
                                            "parameters": {
                                                "__IMTCONN__": {
                                                    "label": "My Airtable OAuth connection (User ID: usrBs07AitWMvF0D8)",
                                                    "data": {
                                                        "scoped": "true",
                                                        "connection": "airtable3"
                                                    }
                                                }
                                            },
                                            "expect": {
                                                "base": {
                                                    "label": "TP 8 CoderHouse"
                                                },
                                                "typecast": {
                                                    "mode": "chose"
                                                },
                                                "useColumnId": {
                                                    "mode": "chose"
                                                },
                                                "table": {
                                                    "nested": [
                                                        {
                                                            "name": "record",
                                                            "spec": [
                                                                {
                                                                    "name": "fldsIZ7AUS3atEP5P",
                                                                    "label": "Fecha",
                                                                    "type": "date",
                                                                    "time": true
                                                                },
                                                                {
                                                                    "name": "fldYYFtBnbgR44rJs",
                                                                    "label": "Módulo",
                                                                    "type": "text"
                                                                },
                                                                {
                                                                    "name": "fldCGXL0eF9oobcgk",
                                                                    "label": "Detalle",
                                                                    "type": "text",
                                                                    "multiline": true
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Record"
                                                        }
                                                    ],
                                                    "label": "Errores"
                                                }
                                            }
                                        },
                                        "parameters": [
                                            {
                                                "name": "__IMTCONN__",
                                                "type": "account:airtable3,airtable2",
                                                "label": "Connection",
                                                "required": true
                                            }
                                        ],
                                        "expect": [
                                            {
                                                "name": "base",
                                                "type": "select",
                                                "label": "Base",
                                                "required": true
                                            },
                                            {
                                                "name": "typecast",
                                                "type": "boolean",
                                                "label": "Smart links",
                                                "required": true
                                            },
                                            {
                                                "name": "useColumnId",
                                                "type": "boolean",
                                                "label": "Use Column ID",
                                                "required": true
                                            },
                                            {
                                                "name": "table",
                                                "type": "select",
                                                "label": "Table",
                                                "required": true
                                            },
                                            {
                                                "name": "record",
                                                "type": "collection",
                                                "label": "Record",
                                                "spec": [
                                                    {
                                                        "name": "fldsIZ7AUS3atEP5P",
                                                        "type": "date",
                                                        "label": "Fecha",
                                                        "time": true
                                                    },
                                                    {
                                                        "name": "fldYYFtBnbgR44rJs",
                                                        "type": "text",
                                                        "label": "Módulo"
                                                    },
                                                    {
                                                        "name": "fldCGXL0eF9oobcgk",
                                                        "type": "text",
                                                        "label": "Detalle"
                                                    }
                                                ]
                                            }
                                        ],
                                        "interface": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "createdTime",
                                                "type": "date",
                                                "label": "Created Time"
                                            },
                                            {
                                                "name": "Fecha",
                                                "label": "Fecha",
                                                "type": "date",
                                                "time": true
                                            },
                                            {
                                                "name": "Módulo",
                                                "label": "Módulo",
                                                "type": "text"
                                            },
                                            {
                                                "name": "Detalle",
                                                "label": "Detalle",
                                                "type": "text",
                                                "multiline": true
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "airtable:ActionSearchRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 9154544
                            },
                            "filter": {
                                "name": "Aprobado",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.reaction}}",
                                            "o": "text:equal",
                                            "b": "white_check_mark"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "appH1hlHZM0vOyda1",
                                "useColumnId": false,
                                "table": "tbl919xvsXECKNIiq",
                                "formula": "SEARCH(\"{{2.item.ts}}\", {SlackTS}) > 0",
                                "maxRecords": "10"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 618,
                                    "y": -143,
                                    "name": "Traer SlackTS"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Airtable OAuth connection (User ID: usrBs07AitWMvF0D8)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "TP 8 CoderHouse"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Consultas"
                                        },
                                        "sort": {
                                            "mode": "chose"
                                        },
                                        "view": {
                                            "mode": "chose"
                                        },
                                        "fields": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "maxRecords",
                                        "type": "integer",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "sort",
                                        "type": "array",
                                        "label": "Sort",
                                        "spec": [
                                            {
                                                "name": "field",
                                                "type": "select",
                                                "label": "Field",
                                                "options": [],
                                                "dynamic": true
                                            },
                                            {
                                                "name": "direction",
                                                "type": "select",
                                                "label": "Direction",
                                                "options": [
                                                    {
                                                        "label": "Descending",
                                                        "value": "desc"
                                                    },
                                                    {
                                                        "label": "Ascending",
                                                        "value": "asc"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "view",
                                        "type": "select",
                                        "label": "View"
                                    },
                                    {
                                        "name": "fields",
                                        "type": "select",
                                        "label": "Output Fields",
                                        "multiple": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "label": "Total number of bundles",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "label": "Bundle order position",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "ID Lead",
                                        "label": "ID Lead",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Cliente",
                                        "label": "Cliente",
                                        "type": "text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Email",
                                        "label": "Email",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Interés",
                                        "label": "Interés",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Estado",
                                        "label": "Estado",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Borrador",
                                        "label": "Borrador",
                                        "type": "text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Contactos",
                                        "label": "Contactos",
                                        "type": "array",
                                        "spec": {
                                            "label": "Record ID"
                                        }
                                    },
                                    {
                                        "name": "SlackTS",
                                        "label": "SlackTS",
                                        "type": "text",
                                        "multiline": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 9154544
                            },
                            "filter": {
                                "name": "SlackTs",
                                "conditions": []
                            },
                            "mapper": {
                                "base": "appH1hlHZM0vOyda1",
                                "typecast": false,
                                "useColumnId": false,
                                "table": "tbl919xvsXECKNIiq",
                                "id": "{{7.id}}",
                                "record": {
                                    "fldMd5aLhBifIGCE9": "Aprobado"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -150,
                                    "name": "Act estado Aprobado"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Airtable OAuth connection (User ID: usrBs07AitWMvF0D8)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "label": "TP 8 CoderHouse"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "label": "Consultas"
                                        },
                                        "record": {
                                            "nested": {
                                                "fldL9GpKnoeY6xvNL": {
                                                    "mode": "edit"
                                                },
                                                "fldMd5aLhBifIGCE9": {
                                                    "mode": "edit"
                                                },
                                                "fldYQVzqPcxgpHYtv": {
                                                    "mode": "chose"
                                                }
                                            }
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "type": "collection",
                                        "label": "Record",
                                        "spec": [
                                            {
                                                "name": "fldTdFsexQnA7q07m",
                                                "type": "text",
                                                "label": "Cliente"
                                            },
                                            {
                                                "name": "fldBadsT85cqQRdPY",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fldL9GpKnoeY6xvNL",
                                                "type": "select",
                                                "label": "Interés",
                                                "mode": "edit"
                                            },
                                            {
                                                "name": "fldMd5aLhBifIGCE9",
                                                "type": "select",
                                                "label": "Estado",
                                                "mode": "edit"
                                            },
                                            {
                                                "name": "fldLmbuDrR8fXtiKW",
                                                "type": "text",
                                                "label": "Borrador"
                                            },
                                            {
                                                "name": "fldYQVzqPcxgpHYtv",
                                                "type": "array",
                                                "label": "Contactos",
                                                "spec": {
                                                    "label": "Record ID",
                                                    "name": "value"
                                                }
                                            },
                                            {
                                                "name": "fldVoIUFXvA1BlNQc",
                                                "type": "text",
                                                "label": "SlackTS"
                                            }
                                        ]
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "ID Lead",
                                        "label": "ID Lead",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Cliente",
                                        "label": "Cliente",
                                        "type": "text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Email",
                                        "label": "Email",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Interés",
                                        "label": "Interés",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Estado",
                                        "label": "Estado",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Borrador",
                                        "label": "Borrador",
                                        "type": "text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Contactos",
                                        "label": "Contactos",
                                        "type": "array",
                                        "spec": {
                                            "label": "Record ID"
                                        }
                                    },
                                    {
                                        "name": "SlackTS",
                                        "label": "SlackTS",
                                        "type": "text",
                                        "multiline": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 12,
                                    "module": "airtable:ActionCreateRecord",
                                    "version": 3,
                                    "parameters": {
                                        "__IMTCONN__": 9154544
                                    },
                                    "mapper": {
                                        "base": "appH1hlHZM0vOyda1",
                                        "typecast": false,
                                        "useColumnId": false,
                                        "table": "tblyaT9fqHTKWwttJ",
                                        "record": {
                                            "fldsIZ7AUS3atEP5P": "{{now}}",
                                            "fldYYFtBnbgR44rJs": "Airtable",
                                            "fldCGXL0eF9oobcgk": "{{6.error.message}}"
                                        }
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 902,
                                            "y": -427,
                                            "name": "Error"
                                        },
                                        "restore": {
                                            "parameters": {
                                                "__IMTCONN__": {
                                                    "label": "My Airtable OAuth connection (User ID: usrBs07AitWMvF0D8)",
                                                    "data": {
                                                        "scoped": "true",
                                                        "connection": "airtable3"
                                                    }
                                                }
                                            },
                                            "expect": {
                                                "base": {
                                                    "label": "TP 8 CoderHouse"
                                                },
                                                "typecast": {
                                                    "mode": "chose"
                                                },
                                                "useColumnId": {
                                                    "mode": "chose"
                                                },
                                                "table": {
                                                    "nested": [
                                                        {
                                                            "name": "record",
                                                            "spec": [
                                                                {
                                                                    "name": "fldsIZ7AUS3atEP5P",
                                                                    "label": "Fecha",
                                                                    "type": "date",
                                                                    "time": true
                                                                },
                                                                {
                                                                    "name": "fldYYFtBnbgR44rJs",
                                                                    "label": "Módulo",
                                                                    "type": "text"
                                                                },
                                                                {
                                                                    "name": "fldCGXL0eF9oobcgk",
                                                                    "label": "Detalle",
                                                                    "type": "text",
                                                                    "multiline": true
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Record"
                                                        }
                                                    ],
                                                    "label": "Errores"
                                                }
                                            }
                                        },
                                        "parameters": [
                                            {
                                                "name": "__IMTCONN__",
                                                "type": "account:airtable3,airtable2",
                                                "label": "Connection",
                                                "required": true
                                            }
                                        ],
                                        "expect": [
                                            {
                                                "name": "base",
                                                "type": "select",
                                                "label": "Base",
                                                "required": true
                                            },
                                            {
                                                "name": "typecast",
                                                "type": "boolean",
                                                "label": "Smart links",
                                                "required": true
                                            },
                                            {
                                                "name": "useColumnId",
                                                "type": "boolean",
                                                "label": "Use Column ID",
                                                "required": true
                                            },
                                            {
                                                "name": "table",
                                                "type": "select",
                                                "label": "Table",
                                                "required": true
                                            },
                                            {
                                                "name": "record",
                                                "type": "collection",
                                                "label": "Record",
                                                "spec": [
                                                    {
                                                        "name": "fldsIZ7AUS3atEP5P",
                                                        "type": "date",
                                                        "label": "Fecha",
                                                        "time": true
                                                    },
                                                    {
                                                        "name": "fldYYFtBnbgR44rJs",
                                                        "type": "text",
                                                        "label": "Módulo"
                                                    },
                                                    {
                                                        "name": "fldCGXL0eF9oobcgk",
                                                        "type": "text",
                                                        "label": "Detalle"
                                                    }
                                                ]
                                            }
                                        ],
                                        "interface": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "createdTime",
                                                "type": "date",
                                                "label": "Created Time"
                                            },
                                            {
                                                "name": "Fecha",
                                                "label": "Fecha",
                                                "type": "date",
                                                "time": true
                                            },
                                            {
                                                "name": "Módulo",
                                                "label": "Módulo",
                                                "type": "text"
                                            },
                                            {
                                                "name": "Detalle",
                                                "label": "Detalle",
                                                "type": "text",
                                                "multiline": true
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            "id": 16,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 9157975
                            },
                            "mapper": {
                                "to": [
                                    "{{6.Email}}"
                                ],
                                "subject": "Marketing S.A.",
                                "bodyType": "rawHtml",
                                "content": "{{6.Borrador}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": -150,
                                    "name": "Enviar Propuesta"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Gmail connection (gazarrifrete@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bodyType": {
                                            "label": "Raw HTML"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": true,
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "CC recipients",
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "BCC recipients",
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "type": "array",
                                        "label": "Additional email headers",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 18,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 9154544
                            },
                            "filter": {
                                "name": "SlackTs",
                                "conditions": []
                            },
                            "mapper": {
                                "base": "appH1hlHZM0vOyda1",
                                "typecast": false,
                                "useColumnId": false,
                                "table": "tbl919xvsXECKNIiq",
                                "id": "{{7.id}}",
                                "record": {
                                    "fldMd5aLhBifIGCE9": "Enviado"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1473,
                                    "y": -147,
                                    "name": "Act estado Enviado"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Airtable OAuth connection (User ID: usrBs07AitWMvF0D8)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "label": "TP 8 CoderHouse"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "label": "Consultas"
                                        },
                                        "record": {
                                            "nested": {
                                                "fldL9GpKnoeY6xvNL": {
                                                    "mode": "edit"
                                                },
                                                "fldMd5aLhBifIGCE9": {
                                                    "mode": "edit"
                                                },
                                                "fldYQVzqPcxgpHYtv": {
                                                    "mode": "chose"
                                                }
                                            }
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "type": "collection",
                                        "label": "Record",
                                        "spec": [
                                            {
                                                "name": "fldTdFsexQnA7q07m",
                                                "type": "text",
                                                "label": "Cliente"
                                            },
                                            {
                                                "name": "fldBadsT85cqQRdPY",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fldL9GpKnoeY6xvNL",
                                                "type": "select",
                                                "label": "Interés",
                                                "mode": "edit"
                                            },
                                            {
                                                "name": "fldMd5aLhBifIGCE9",
                                                "type": "select",
                                                "label": "Estado",
                                                "mode": "edit"
                                            },
                                            {
                                                "name": "fldLmbuDrR8fXtiKW",
                                                "type": "text",
                                                "label": "Borrador"
                                            },
                                            {
                                                "name": "fldYQVzqPcxgpHYtv",
                                                "type": "array",
                                                "label": "Contactos",
                                                "spec": {
                                                    "label": "Record ID",
                                                    "name": "value"
                                                }
                                            },
                                            {
                                                "name": "fldVoIUFXvA1BlNQc",
                                                "type": "text",
                                                "label": "SlackTS"
                                            }
                                        ]
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "ID Lead",
                                        "label": "ID Lead",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Cliente",
                                        "label": "Cliente",
                                        "type": "text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Email",
                                        "label": "Email",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Interés",
                                        "label": "Interés",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Estado",
                                        "label": "Estado",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Borrador",
                                        "label": "Borrador",
                                        "type": "text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Contactos",
                                        "label": "Contactos",
                                        "type": "array",
                                        "spec": {
                                            "label": "Record ID"
                                        }
                                    },
                                    {
                                        "name": "SlackTS",
                                        "label": "SlackTS",
                                        "type": "text",
                                        "multiline": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}